*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-item:hover .nav-link{
    color: rgb(92, 92, 211);
}
.dropdown-menu{
    display: block;
    visibility: hidden;
    transition: 0.7s !important;
}
.nav-item:hover .dropdown-menu{
    visibility: visible;
    transform: translateX(20px) !important;
}
.dropdown-item{
    color: black;
    transition: color 0.3s;
}
.dropdown-item:hover{
    color: rgb(92, 92, 211) !important;
}
.bg-coimage{
    background-image: url("../images/slider2.jpg");
}
.height-600{
    height: 500px;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.575);
    background-size: cover;
    background-repeat: no-repeat;
}
.paddcen{
    padding-top: 20%;
}
.bg{
    background-color: black !important;
    opacity: 0.4 !important;
}